#firstSection{
    font-family: Roboto;
    background-color: #1f2937;
}
.firstHeader{
    color: #F9FAF8;
    font-size: 24px;
}
.topAW{
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}
.bottomAW{
    color: #e5e7eb;
    font-size: 18px;
}
button{
    background-color: blue;
    color: white;
}
.firstContainerItem{
    color: #F9FAF8;
}
.firstContainer{
    height: 150px;
}